@import '~antd/dist/antd.css';

html body {
  background-color: #404040;
}

.ms-layout .logo {
  display: inline-block;
  height: 31px;
  float: left;
  color: #fff;
  font-size: 18px;
}
.ms-layout .site-layout-background {
  width: 1200px;
  margin: 64px auto;
}

.ant-card {
  background-color: #494949;
  border-color: transparent;
  color: white;
}

circle {
  opacity: 1;
  stroke-width: 10px;
}

html footer.ant-layout-footer {
  text-align: left;
  color: #e0e0e0;
}

.logo.logo-left {
  float: right;
}